:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --yellow-color: #f1c40f;
    --text-color: #000000;
    --disabled-background-color: #e0e0e0;
    --disabled-text-color: #a0a0a0;
    --font-style: 'Roboto, sans-serif';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
}
